body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.form-container{
    background-color: #DDDDDD;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"], input[type="password"]{
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"]:focus, input[type="password"]:focus{
    border-color: #80bdff;
    outline:none;
}

#passwordCriteria{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}

#passwordCriteria p{
    margin-bottom: 8px;
    font-weight: bold;
}

#passwordCriteria ul{
    list-style-type: none;
    padding: 0;
}

#passwordCriteria li{
    margin-bottom: 5px;
}

.invalid{
    color: red;
}

.valid{
    color: green;
    text-decoration: line-through;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color:  #218838;
}